/*.skin-blue-light .sidebar a {*/
/*color: #444;*/
/*}*/

@font-face {
    font-family: 'dejavu';
    src: url('../fonts/bpg_dejavu_sans.eot');
    src: local('dejavu'), url('../fonts/bpg_dejavu_sans.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

html, body {
    font-family: 'dejavu' !important;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}